.main_container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-top: 1%;

    .filters {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 3%;

        &__buttons {
            display: flex;
            justify-content: space-around;

            &_btn {
                width: 140px;
                height: 30px;
                border-radius: 25px;
                border: none;
                background-color: aliceblue;
                cursor: pointer;
                transition: 0.5s all;

                &:hover {
                    background: lightcoral;
                }

                &:active {
                    background: lightgreen;
                }
            }
        }

        .filters-checkbox {
            max-height: 140px;
            overflow: auto;
            border-radius: 10px;
            border: 3px solid;
            input{
                margin-bottom: 10px;
            }


            legend {
                padding: 0 2%;
                font-weight: bold;
            }
        }
        .filters-range {
            position: relative;
            height: 80px;
            border-radius: 10px;
            border: 3px solid;

            legend {
                padding: 0 3%;
                font-weight: bold;
            }

            .input-range {
                position: absolute;
                appearance: none;
                width: 90%;
                overflow: hidden;
                border: 0;
                background: linear-gradient(grey, grey) no-repeat center;
                background-size: 100% 2px;
                pointer-events: none;

                &:nth-child(2) {
                    background: none;

                }

                &:active,
                &:focus {
                    outline: none;
                }

                &::-webkit-slider-thumb {
                    height: 28px;
                    width: 28px;
                    border-radius: 28px;
                    background-color: #fff;
                    margin: 5px 0;
                    cursor: pointer;
                    appearance: none;
                    pointer-events: all;
                    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);

                }
            }
        }

        .filters__price{
            .filters-range_value:after{
                content: ' €';
            }
        }
    }
}
